@use "./media";

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--color-light);
}

p {
  margin-bottom: 0;
}

.content {

  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;

  & iframe {
    aspect-ratio: 16/9;
  }

  @media (max-width: 1280px) {
    .media {
      width: 100%;
    }
  }
}

.my-own-guard {
  display: flex;
  justify-content: center;
  align-items: center;
}
