.section {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   padding: 20px 30px;
   margin-bottom: 50px;

   border-radius: var(--border-radius);
   border: var(--border);
   box-shadow: var(--shadow);

   background-color: var(--color-gray);


   &__title {
      display: inline-flex;
      justify-content: start;
   }

   &:target {
    transform: translateY(-2px);
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  }
}
